NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDrhwxTvRof8-wjHMEHH4M_SXRpTt-_NGY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=opsaudit-f825f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=opsaudit-f825f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=opsaudit-f825f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=411100969792
NEXT_PUBLIC_FIREBASE_APP_ID=1:411100969792:web:fabaf2b4312127af4698a5
GEMINI_API_KEY=AIzaSyBv2OnXL4pryJfvWQV2dYAGJDK3_2tjdCg
NEXT_PUBLIC_APP_URL=http://localhost:3000